body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu {
    margin: 10px;
    padding: 15px;
    text-align: right;
}

.menu a {
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    font-size: 16px;
    background-color: #eeeded;
    padding: 11px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a:hover {
    text-decoration: underline;
}

.search-box {
    margin-top: 40px;
}

input[type="text"] {
    width: 400px;
    height: 40px;
    font-size: 18px;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding-left: 20px;
}

input[type="submit"] {
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
    padding: 0 20px;
    background-color: #292a2c;
    color: white;
    border: none;
    border-radius: 20px;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 15px;
    margin-right: 10px;
}

.advanced-search-box {
    margin-top: 40px;
    padding-right: 800px; 
    
}

.advanced-search-box input[type="text"] {
    width: 450px;
    height: 35px;
    font-size: 20px;
    border-radius: 0px;
    margin: 2px;
    margin-bottom: 15px;
    padding-right: 150px;
    margin-left: 100px;
    
}

.advanced-search-box input[type="submit"] {
    margin-left: 540px;
    background-color: #292a2c;
    color: white;
    border: none;
    padding: 5px 10px;
    height: 35px;
    border-radius: 0px;
    font-size: 18px;
    
}
.advanced-search-img {
    max-width: 100%;
    height: auto;
    width: 300px;
    margin-top: -50px;
    margin-bottom: -10px;
    padding-left: 120px;
}


.image-container img {
    max-width: 100%;
    height: auto;
    width: 300px;
    padding-top: 80px;
    padding-right: 32px;
}